<div class="form-group slim">
	<label>{{ localize "LIGHT.DarknessRange" }}</label>
	<div class="form-fields">
		<label>{{ localize "Between" }}</label>
		{{ numberInput data.flags.darkness-activated-tiles.darkness.min name="flags.darkness-activated-tiles.darkness.min" placeholder="0" min=0 max=1 }}
		<label>{{ localize "and" }}</label>
		{{ numberInput data.flags.darkness-activated-tiles.darkness.max name="flags.darkness-activated-tiles.darkness.max" placeholder="1" min=0 max=1 }}
	</div>
	<p class="hint">{{ localize "DAT.DarknessRangeHint" }}</p>
</div>
